body{
	color:red;
<<<<<<< HEAD
}
#ScrumMaster98{
	background-color:black;
}
	
=======
    #Hamzaridouane
    background-color: aqua;
}

#AymenMahane

p {
	background-color:aqua;
}
>>>>>>> 00aeaff32c5f2389c0bcbb48b1ed1f48333783b8
#ScrumMaster98{
	
	background:black;
}


