body{
	color:red;
<<<<<<< HEAD
}
#ScrumMaster98{
	background-color:black;
}
	
=======
    #Hamzaridouane
    background-color: aqua;
}

<<<<<<< HEAD
h1{
	color: #666633
	#AdamMialed
}
=======
#AymenMahane

p {
	background-color:aqua;
}
>>>>>>> 00aeaff32c5f2389c0bcbb48b1ed1f48333783b8
#ScrumMaster98{
	
	background:black;
}


>>>>>>> 6cf50489992382a18261729a86bc2e8c7b0cad8f
