body{
	color:red;
<<<<<<< HEAD
}
#ScrumMaster98{
	background-color:black;
}
	
=======
    #Hamzaridouane
    background-color: aqua;
}

h1{
	color: #666633
	#AdamMialed
}
=======
#AymenMahane

p {
	background-color:aqua;
}
	
	background:black;
}

<<<<<<< HEAD

>>>>>>> 6cf50489992382a18261729a86bc2e8c7b0cad8f
#Al-Saayad{
	scroll:rad;
	color:red;
	margin:0px;
=======
# 2e Modification du style par Aymen Mahane 
h2 {
	color:lime
>>>>>>> b03209106ac8dea2bcd78c7f25d628a7e7f7f7f2
}
